<template>
  <div>

  <img src="@/img/Screenshot_2.jpg" >
  </div>
</template>

<script>
import NAVBAR from "@/components/NAVBAR";
export default {
  name: "chronos",
  components: {NAVBAR}
}
</script>

<style scoped>

</style>