<template>



</template>

<script>
import NAVBAR from "@/components/NAVBAR";
export default {
  name: "Contact",
  components: {NAVBAR}
}
</script>

<style scoped>
.index2 {
  color: black;
  padding: 5px;
  text-align: center;
}
.docontrol {


}


</style>