<template>

  <div class="index">
    <br>
    <br>
    <br>
    <br>

  <img class="mujic" src="@/studi2mphoto/metro/red vorota/IMG_20170529_030526.jpg" >
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>

<script>
import NAVBAR from "@/components/NAVBAR";
export default {
  name: "glass",
  components: {NAVBAR}
}
</script>

<style scoped>

</style>