<template>
  <div>

    <div class="index">
      <img class="watch" src="@/img//watch.jpg" >
      <h1>  STUDIO 2M </h1>
      <h1>Последние проекты:</h1>
      <img  class="projects"  src="@/img//vorota1.jpg" >
      <img  class="projects"  src="@/img//vorota2.jpg" >
      <img class="projects" src="@/img//lampi1.jpg" >
      <img class="projects" src="@/img//vorota2.jpg" >
      <h1>Наша командна:</h1>
      <img class="pozans" src="@/img//papaz.jpg">
      <h1>Наши услуги:</h1>
      <img class="usluhis"  src="@/img//usluga1.jpg" >
      <img class="usluhis"  src="@/img//detal.jpg" >
      <img class="usluhis"   src="@/img//detall.jpg" >
      <h1>Контакты:</h1>
      <img class="batya"  src="https://lh3.googleusercontent.com/pw/AM-JKLV9jy6ayeyd4ir2rFGRm5HW1KRVTjkRg72xFGTcZoBtGmF1YUaJPL9d0OSrJSiyMYRjFovCtQGQKJjgc9Bgg1DgFvQ6v07e8WYc-C-rGIIOwCLzrEVITB8Q5jbBkSy4lEyqvM26mg5Kj4XsZVmNDeDr=w589-h629-no?authuser=0" >
    </div>
  </div>
</template>

<script>
import NAVBAR from "@/components/NAVBAR";
export default {
  name: "HomeVivev",
  components: {NAVBAR},
}
</script>

<style scoped>

</style>