<template>
<div class="index">
  <br>

<h1>ГАЛЛЕРЕЯ</h1>
  <br>


  <v-carousel class="caruselechka">
    <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</template>

<script>
import NAVBAR from "@/components/NAVBAR";
export default {
  name: "License",
  components: {NAVBAR},
  data () {
    return {
      items: [
        {
          src: 'https://lh3.googleusercontent.com/pw/AM-JKLWlUTotR3hEYLzZYCKsQKWJsFotqQz6iX-urcXx-HjkZjOhTbEQbTs288kv4znPpcpy4yLq4Li9JvrnDZ2hzFOmO8Fvl8O20flBWH4pU4s__bMTj-IMNLPPFQ5jKbGYuCxuUVDaie48Zc79-BFu-D3M=w959-h540-no?authuser=0',
        },
        {
          src: 'https://lh3.googleusercontent.com/pw/AM-JKLVOg7n6R_iWcj4aINRNvJR5fQFZdIiSQkZyt4ghGMb3t4C81ahDNz2Eri_gHp5zLJFZU7bePgwJ7CvATLqp5eJqLZP5fva1RhrYsUOkOOzFFx0HEDRZErtpNle6MM2O0VYdN-cM-3g3FNoQ-lztWybA=w690-h920-no?authuser=0',
        },
        // {
        //   src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        // },
        // {
        //   src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        // },
      ],
    }
  },

}
</script>

<style scoped>
.caruselechka {
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  text-align: center
}
</style>