<template>
  <div class="index">

    <h1>Проспект мира</h1>
    <img class="metro" src="@/studi2mphoto/metro/pr pease/IMG_20161114_135904.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/pr pease/IMG_20161018_093959.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/pr pease/IMG_20161018_093849.jpg" >
   <img class="metro" src="@/studi2mphoto/metro/pr pease/DSC_0087.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/pr pease/DSC_0566.jpg" >
    <!-- <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLUyh1T23pFjY0xktZUCGo9bZxJfL6uusV5u7qOYS15HdXiqrc5_hKZBgkXIuNquemvBZwBA_WRUe3humAEj_9vfrEAbBoXuHFLgCJNpCvoMAdib-NiCIMFM8UacULeHfUPpRHQwI0ftZwIEvUtADWy8=w959-h540-no?authuser=0" > -->
    <!-- <img class="metro" src="@/studi2mphoto/metro/pr pease/DSC_0009.jpg" > -->
    <br>
    <img class="metro" src="@/studi2mphoto/metro/pr pease/IMG_20161018_093911.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/pr pease/IMG_20161018_094049.jpg" >
<!--    <img class="metro" src="@/studi2mphoto/metro/pr pease/IMG_20161018_093841 — копия.jpg" >-->
    <!-- <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLU2S4W58p6Mg1nb7e_IlNwc5Yh1KBl3JS0S_EYf1FkbmuE5z4ZUXD3d82Th8MHpqB_3XTSVjZTT1e1zDSrdqS5G_qxix_Ls5LwiC7wr1GXjp9st7GSYn1eUC5621YjH3rkg0smFkvpvQta8r-Ff1ubo=w518-h920-no?authuser=0" > -->


<h1>Бауманская</h1>

    <img class="metro" src="@/studi2mphoto/metro/baumanskaya/bau2.jpg" >
    <br>
    <img class="metro" src="@/studi2mphoto/metro/baumanskaya/IMG_20161216_035136.jpg" >

    <h1>Киевская</h1>
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/Lustra 26 05.jpg" >
    <br>
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/_DSC0402.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/_DSC0401.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/_DSC0392.jpg" >
    <br>
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/DSC_0460.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/DSC_0512.jpg" >
    <img class="metro" src="@/studi2mphoto/metro/kievskaya/DSC_0475.jpg" >
<!--    <img class="metro" src="@/studi2mphoto/metro/kievskaya/IMG_20161011_051609 — копия.jpg" >-->


    <h1>Красные ворота</h1>
    <img class="metro" src="@/studi2mphoto/metro/red vorota/IMG_20170529_030526.jpg" >
    <br>
    <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLV6yoVe6bsHrwJcD-oRbnHY6bbjqSTCXIlivRFny4lBmwMwHFIwGk1Sq6A20f0nltgWBt3Zrc8MADZ5UKKWJOBR7da7WLxZqrCB1EukMFdyXf32S4uEO964uK9eu2LuF9NAewG_87O2vyciIn8dVgn6=w959-h540-no?authuser=0" >
    <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLXphhh6tl-XmiVUZEWOrE0QkB39fCPGsD3nX7qz7nXtAbNzMRFr69Balf23riJvpoEsxMNARqchvSKwClwFZmt1wvBr54trWcgf867yahTVj-mkVBPi5Eeodg0Cbjc_d3nG4ust_7QsjwfmcB9Db5U9=w959-h540-no?authuser=0" >
    <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLX7g-W3luM9nDOAlfSYEpPRQr-zESpssQB_dxK_hGwdOkZs8Hyde6SImf2e34Ebhd9B7qKAvwYgC5ShL6DtuVPutAgAcj9Ui4TCHvbSiw780gTGcFwSlTK_50p-06Wvq_y77yhFk3dOii73MsHn9MAv=w959-h540-no?authuser=0" >
    <br>
    <!-- <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLWXjY7OJYz-6YW1cST95Blabi5MVPVBtgnxa_fq3FeaLR4MT2oeStwoHeDd0PVS0JP8w2SM3Vh3MDnyqkf2s6lHeHuAn_ua5GOeOIyVGqIvvsHd2Q08FpktnZcaIVKnIBI4qd2w7f-ilzAGkE7XyEN4=w518-h920-no?authuser=0" > -->
    <!-- <img class="metro" src="https://lh3.googleusercontent.com/pw/AM-JKLWFL3hi3fXg3hXe7Jg3xPA7S33OXAl7Y5ijddW-8-E4u6TRJNDlp-kkbPdqJRKGHC3kPvfvnci45AAbrJvwbG--v0BmUCQeaJRaRCh-H7ZILb9BIBEcnWccaQCdTL8CHNlX215hN0fDFRu-vTjs-Sjs=w518-h920-no?authuser=0" > -->

  </div>
</template>

<script>
import NAVBAR from "@/components/NAVBAR";
export default {
  name: "Metro",
  components: {NAVBAR}
}
</script>

<style scoped>

.metro {
  max-width: 500px;
  max-height: 500px;
}




</style>