<template>
  <div>
  <v-footer
      color="primary lighten-1"
      padless
      class="podvalni">
    <v-row
        justify="center"
        no-gutters
    >
      <v-btn
          v-for="link in links"
          :key="link"
          color="white"
          text
          rounded
          class="my-2"
      >
        {{ link }}
      </v-btn>
      <v-col
          class="primary lighten-2 py-4 text-center white--text"
          cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>STUDIO 2M</strong>
      </v-col>
    </v-row>
  </v-footer>
  </div>
</template>

<script>
export default {
  name: "Podval"
}
</script>

<style scoped>

</style>