.body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  /* font: normal 16px 'Roboto', sans-serif; */
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.index {
  background-color: lavender;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.wrapper {
  text-decoration: none;
  font-family: sans-serif;
  color: #5757a0;
  display: inline-block;
  padding: 10px 20px;
  background-color: lavender;
  border-bottom: 5px solid #5757a0
}



.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}



.pasha {
  max-width: 1200px;
margin:0px auto;
padding: 0px 15px;
}


@media (max-width: 1200px) {
  .pasha{
    max-width: 970px;
  }
}


@media (max-width: 992px) {
  .pasha{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .pasha{
    max-width: none;
  }
}

.mujic {
  max-width: 45%;
}

.watch {
  max-width: 30%;
  padding: 10px;
}



.projects {
  max-width: 45%;
}

.pozans {
  max-width: 45%;
}

.usluhis {
  max-width: 30%;
}

.batya {
  max-width: 26%;
}






hr {
  border: none; /* Убираем границу */
  background-color: #5757a0; /* Цвет линии */
  color: #5757a0; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}

.podval {
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  color: #5757a0; /* Цвет фона */
  color: black; /* Цвет текста */
}
