<template>
  <v-app>
    <v-card class="overflow-hidden">
      <v-app-bar
          color="#6A76AB"
          src="https://picsum.photos/1920/1080?random"
          dark
          fade-img-on-scroll
          scroll-target="#scrolling-techniques-3"
      >
        <template v-slot:img="{ props }">
          <v-img
              v-bind="props"
              gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
          ></v-img>
        </template >
        <template v-slot:extension class="shrift">
          <v-tabs align-with-title class="shrift">
            <v-spacer></v-spacer>

                                              <v-tab   @click="menyy = 'E'">Главная</v-tab>
            <v-tab   @click="menyy = 'A'">Контакты</v-tab>
            <v-tab   @click="menyy = 'B'">Биография</v-tab>
            <v-tab   @click="menyy = 'D'">Галлерея</v-tab>
            <v-tab   @click="menyy = 'C'">Услуги</v-tab>
            <v-tab   @click="menyy = 'F'">Хронология</v-tab>
                                     <v-tab  @click="menyy = 'G'">Работы из стекла</v-tab>
            <v-tab  @click="menyy = 'K'">Станции метро</v-tab>
            <v-spacer></v-spacer>
          </v-tabs>
        </template>
      </v-app-bar>
    </v-card>


    <div v-if="menyy === 'D'">
 <License/>
    </div>


    <div v-if="menyy === 'F'">
<chronos/>
    </div>


    <div v-if="menyy === 'G'">
<glass/>

    </div>



    <div v-if="menyy === 'K'">
<metro/>
    </div>



























    <div v-if="menyy === 'E'">
    <HomeVivev/>
    </div>

    <div v-if="menyy === 'A'">
      <div class="index">
        <div class="docontrol">

          <br>
          <br>

          <h1>STUDIO 2M</h1>
          <h2>Реставрационная мастерская</h2>
          <h2>Реставрация памятников культурного наследия России, церковной утвари,</h2>
          <h2>осветительных приборов, художественное литье и многое другое.</h2>
          <br>
          <br>
          <br>
          <h2>Телефон:</h2>
          <h3>+79257058064</h3>
          <h2>Почта:</h2>
          <a href="studio_dvam@mail.ru">studio_dvam@mail.ru</a>
          <form>
            <h2>Оставьте вашу заявку и мы перезвоним:</h2>
            <v-form v-model="valid">
              <v-container>
                <v-row>
                  <v-col
                      cols="12"
                      md="4"
                  >
                    <v-text-field
                        v-model="firstname"
                        :rules="nameRules"

                        label="инициалы"
                        required
                    ></v-text-field>
                  </v-col>

                  <v-col
                      cols="12"
                      md="4"
                  >
                    <v-text-field
                        v-model="lastname"
                        :rules="nameRules"
                        label="email"
                        required
                    ></v-text-field>
                  </v-col>

                  <v-col
                      cols="12"
                      md="4"
                  >
                    <v-text-field
                        v-model="email"
                        :rules="emailRules"
                        label="заявка"
                        required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-btn>Отправить</v-btn>
                <h1></h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </v-container>
            </v-form>

          </form>
        </div>
      </div>
    </div>

    <div v-if="menyy === 'B'">
      <div class="index">

        <br>
        <img  class="photocartochka"   hspace="5" vspace="25"  src="https://lh3.googleusercontent.com/pw/AM-JKLWSVKzK7GKU7qKLn7QFPoOcBp2NLlLslykEQdQVbdXioaE8qj85dh7oqjFDC9ofNqKOhkCEJ-PRlQ3zz4A4CVyvtEgjq3SIHOJ1d0OZa5qD9K2WlUW5OXHxh1EBd_f6uqwpXqKgHKMpjq8GNj4PEoLf=s920-no?authuser=0" >
        <h1>О мастерской</h1>
        <h3>«Студия 2м» зарегестрированна 23.07.2008 Максимом Чумаковым. Мы работаем более 10 лет. Наша реставрационная мастерская выполняет заказы частных клиентов и коллекционеров, а также ведет работы в известных музеях страны и принимает участие в крупнейших реставрационных проектах, таких как «Большой театр», «Царицино», «Путевой дворец Петра I», реставрации метро Москвы и др.</h3>
        <hr>
        <h3>Сейчас у нас работают реставраторы, имеющие высшее профильное образование и огромный опыт работы в своей области, все они специалисты министерства культуры. Студия активно сотрудничает с искусствоведами и специалистами ведущих музеев России. Наша компания представляет собой мастерские, в которых работают профессиональные художники-реставраторы и дизайнеры. Все они — квалифицированные специалисты, и это позволяет нам осуществлять комплексное обслуживание в области реставрации изделий и исторических объектов.</h3>
        <hr>
        <h3>Чумаков Максим Викторович – родился в городе Брянск в 1975 году. С 1999 по 2006 год обучался в «АХПК имени Васнецова»  на факультете художественная обработка дерева, камня, кости – художник мастер.</h3>
        <hr>
        <h3>По 2007г работал с Глузуновым для его музея, выполняя различные заказы по реставрации.</h3>
        <h3>В 2006г получил квалификацию реставратора.</h3>
        <h3>В 2008г основал «Студию 2м».</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>





    <div v-if="menyy === 'C'">
      <div class="index">
        <br>
        <br>
        <h1>Услуги реставрации</h1>
        <br>
        <ul>
          <li >Реставрация и воссоздание любого вида стеклянного и хрустального антиквариата,</li>
          <li>Реконструкция антикварных предметов,</li>
          <li>Копирование старинных образцов из стекла и хрусталя и др.,</li>
          <li>Реставрация и воссоздание осветительных приборов,</li>
          <li>Реставрация и воссоздание наружных и внутренних декоративно-художественных покрасок,</li>
          <li>Ремонт ,реставрация и воссоздание оконных и дверных приборов,</li>
          <li>Реставрация и воссоздание позолоты,</li>
          <li>Реставрация и воссоздание витражей,</li>
          <li>Реставрация икон, иконостасов и церковной утвари,</li>
          <li>Реставрация мебели и декора в интерьере,</li>
          <li>Художественное литье.</li>
          <li>Реставрация, консервация и воссоздание штукатурной отделки,</li>
          <li>Реставрация, консервация и воссоздание архитектурно-лепного декора.</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>





    <Podval/>
  </v-app>

</template>

<script>
import router from "@/router";
import NAVBAR from "@/components/NAVBAR";
import Podval from "@/components/Podval";
import License from "@/components/License";
import Chronos from "@/components/chronos";
import Metro from "@/components/Metro";
import HomeVivev from "@/components/HomeVivev";
import Glass from "@/components/glass";

export default {
  components: {Glass, HomeVivev, Metro, Chronos, License, Podval, NAVBAR},
  router,
  name: 'App',
  data () {
    return {
      menyy: 'E',
    }
  },
};
</script>

<style>


.navbar {
  background: lavender;
  padding: 15px;
  text-align: center;
  max-width: 1200px
}

.link {
  text-decoration: none;
  color: #5757a0;
  font-size: 20px;
  margin: 10px;
}

.nav {
  max-height: 500px;
}

.body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  /* font: normal 16px 'Roboto', sans-serif; */
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.index {
  background-color: lavender;
  color: black;
  padding: 5px;
  text-align: center;
}


.wrapper {
  text-decoration: none;
  font-family: sans-serif;
  color: #5757a0;
  display: inline-block;
  padding: 10px 20px;
  background-color: lavender;
  border-bottom: 5px solid #5757a0
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}


.shrift {
  color: white;
}

.pasha {
  max-width: 1200px;
  margin:0px auto;
  padding: 0px 15px;
}



@media (max-width: 1200px) {
  .pasha{
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .pasha{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .pasha{
    max-width: none;
  }
}


















.mujic {
  max-width: 45%;
}

.watch {
  max-width: 30%;

}

.projects {
  max-width: 45%;
}

.pozans {
  max-width: 45%;
}

.usluhis {
  max-width: 30%;
}

.batya {
  max-width: 26%;
}

hr {
  border: none; /* РЈР±РёСЂР°РµРј РіСЂР°РЅРёС†Сѓ */
  background-color: #5757a0; /* Р¦РІРµС‚ Р»РёРЅРёРё */
  color: #5757a0; /* Р¦РІРµС‚ Р»РёРЅРёРё РґР»СЏ IE6-7 */
  height: 2px; /* РўРѕР»С‰РёРЅР° Р»РёРЅРёРё */
}

.podval {
  left: 0; bottom: 0; /* Р›РµРІС‹Р№ РЅРёР¶РЅРёР№ СѓРіРѕР» */
  padding: 10px; /* РџРѕР»СЏ РІРѕРєСЂСѓРі С‚РµРєСЃС‚Р° */
  color: #5757a0; /* Р¦РІРµС‚ С„РѕРЅР° */
  color: black; /* Р¦РІРµС‚ С‚РµРєСЃС‚Р° */
}

.navbario{
  max-width: 1200px;
}
@media (max-width: 1200px) {
  .navbares{
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .navbares{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .navbares{
    max-width: none;
  }
}

.shrift {
  color: white;
}

.hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -100%;

}



 .photocartochka {
   max-height: 300px;
   max-width: 300px;
 }

/* Description list styles */

dt {
  font-weight: bold;
}

</style>